@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.product_card {
    @include flex(column);
    @include border();
    @include shadow();
    height: 250px;
    width: 200px;
    margin-right: 30px;
    margin-bottom: 10px;
    img {
        height: 200px;
        width: 200px;
        margin-bottom: 10px;
    }
    &:hover {
        cursor: pointer;
        height: 350px;
        width: 300px;
        img {
            height: 300px;
            width: 300px;
        }
        p {
            font-size: 20px;
        }
    }
}

.link {
    text-decoration: none;
    color: $black;
}