@import "../../Styles/mixins.scss";
@import "../../Styles/variables.scss";

.cart {
    @include flex(column, flex-start);
    @include shadow();
    border-left: 1px solid $black;
    border-top: 1px solid $black;
    height: 100vw;
    width: 100%;
    background-color: $white;
    padding: 30px;
    overflow: auto;
}

.cart_x_none {
    display: none;
}

.cart_x {
    position: absolute;
    top: 5px;
    right: 5px;
}

.purchase_none {
    display: none;
}

.purchase_btn {
    display: inline-block;
}