// colors
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$greyModal: rgba(146, 145, 145, 0.48);
$greyOpaque: rgba(74, 69, 80, 0.4);
$darkBlue : rgb(16, 0, 58);
$goldHover :#EBA914;

// border radius
$buttonRadius: 10px;